:root {
  --basic-header: #eee;
  --basic-main: #fff;
  --basic-black: #000;
  --basic-gray: #A6A6A6;
  --basic-red: #FB565A;
  --active-red: #E74246;
  --push-red: #D7373B;
  --basic-green : #00CA74;
  --active-green: #00BC6C;
  --push-green: #00AA62;
  --basic-yellow: #EFC84A;
  --active-yellow: #EAB534;
  --push-yellow: #E5A722;
  --basic-social: #e1e1e1;
  --active-buton: #DFDFDF;
  --push-buton: #D5D5D5;
  --text-write-to-us: #666;
  --text-features: #283136;
}

body {
  min-width:  1440px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  line-height: 55px;
}

h2 {
  font-size: 45px;
  line-height: 45px;
}

h3 {
  font-weight: bold;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-header {
  margin-top: 58px;
  position: relative;
  margin-left: 118px;
}

header {
  background-color: var(--basic-header);
  background-size: 180px;
  font-size: 16px;
  color: black;
  list-style: none;
  display: grid;
  height: 115px;
  grid-template-columns: min-content 1fr  min-content;
  align-items: flex-end;
  width: 1440px;

}

.header-list {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
}

.logo {
  display: flex;
  margin-left: 140px;
  margin-top: 29px;
  margin-bottom: 6px;
}

 .header {
  list-style: none;
  display: flex;
  margin-bottom: 13px;
}

.header-list:hover {
  color: red;
}

.header-list:active {
  color: var(--basic-gray);
}

.logo img:active {
  opacity: 0.3;
}

 .active {
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color:red;
  padding-bottom: 20px;
}

.basket-header {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-left: 262px;
  margin-top: 75px;
  padding-bottom: 14px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position-x: 247px;
  background-position-y: 7px;
}

.header-list {
  margin-left: 45px;
}

.header-list-basket {
  margin-left: 25px;
  margin-right: 143px;
}

.under-header {
  background-color: var(--basic-header);
  width: 1440px;
}

.under-header-list {
  margin-left: 140px;
  padding-top: 41px;
  width: 400px;
  height: 389px;
}

.under-header h1 {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.under-header p {
  display: flex;
  font-size: 16px;
  line-height: 25px;
  color: var(--text-features);
  margin-bottom: 37px;
}

.under-header button {
  width: 240px;
  height: 50px;
  border-radius: 3px;
  border: none;
  background-color: var(--basic-red);
  color: var(--basic-main);
  text-transform: uppercase;
}

.under-header-btn {
  padding-top: 3px;
}

.under-header button:hover {
  background-color: var(--active-red);
}

.under-header button:active {
  background-color: var(--push-red);
  color: rgba(255, 255, 255, 0.3);
}

.features-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 21px;
  margin-bottom: 16px;
}

.features-list {
  list-style: none;
  display: flex;
  width: 1157px;
  margin-left: -40px;
  margin-top: 80px;
  justify-content: start;
  justify-content: space-between;
}

.features-list p {
  width: 260px;
  color: var(--text-features);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 33px;
}

.features-list-1 {
  width: 300px;
  margin-left: 140px;
}

.features-list-2 {
  width: 300px;
  margin-left: 100px;
}

.features-list-3 {
  width: 300px;
  margin-left: 100px;
}

.btn-order {
  width: 160px;
  height: 50px;
  border-radius: 3px;
  border: none;
  color: var(--basic-main);
  text-transform: uppercase;
}

.btn-sites {
  background-color: var(--basic-red);
}

.btn-sites:hover {
  background-color: var(--active-red);
}
.btn-sites:active {
  background-color: var(--push-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.btn-apps {
  background-color: var(--basic-green);
}

.btn-apps:hover {
  background-color: var(--active-green);
}

.btn-apps:active {
  background-color: var(--push-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.btn-ppoint {
  background-color: var(--basic-yellow);
}

.btn-ppoint:hover {
  background-color: var(--active-yellow);
}

.btn-ppoint:active {
  background-color: var(--push-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.about-us {
  border-top: 2px solid #eee;
  margin-top: 80px;
  padding-top: 34px;
  width: 651px;
  display: flex;
  width: 1157px;
  margin-left: 140px;
}

.about-us h2 {
  width: 651px;
}

.about-us:nth-child(1) {
  width: 651px;
}

.light-black-text {
  color: var(--text-features);
}

.percent {
  font-size: 45px;
}

.under-percent {
  font-size: 16px;
  line-height: 18px;
}

.logos {
  display: flex;
  width: 1440px;
  margin-left: 172px;
  justify-content: start;
}

.logos-list {
  list-style: none;
  opacity: 0.2;
}

.logos-list:hover {
  opacity: 1;
}

.logos-list:active {
  opacity: 0.1;
}

.title-form {
  font-size: 18px;
  text-transform: uppercase;
}

 .title-form-cost {
  margin-left: 50px;
  display: flex;
  font-size: 18px;
  text-transform: uppercase;
}

 .title-form-radio {
   list-style: none;
}

 .title-form-checkbox {
   list-style: none;
}

.list-features {
  list-style: none;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: flex-end;
  align-items: flex-end;
}

.std-text-bold {
  font-weight: bold;
}

/*Карта проезда*/

.map-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-write-to-us);
  margin-top: 102px;
  margin-left: 50px;
  font-weight: 400;
  width: 210px;
}

 .map-text-phone {
   position: absolute;
   margin-top: 2px;
   margin-left: 50px;
   font-weight: 400;
   color: #666;
}

.map {
  background-color: #A6A6A6;
  background:
  url(../img/map-marker_1.png) no-repeat 822px 86px,
  url(../img/map-1.jpg) no-repeat;
  width: 1440px;
  height: 416px;
}

.map-info {
  background-color: var(--basic-main);
  width: 319px;
  height: 308px;
  position: absolute;
  margin-left: 140px;
  margin-top: 54px;
  margin-bottom: 54px;
  font-weight: bold;
}

.map-info-heading {
  position: absolute;
  margin-top: 54px;
  margin-left: 50px;
  font-size: 18px;
}

.map-btn {
  width: 219px;
  height: 50px;
  border-radius: 3px;
  border: none;
  color: var(--basic-main);
  text-transform: uppercase;
  margin-top: 58px;
  margin-left: 50px;
}

/*Карта проезда.*/

.lets-friend {
  margin-left: 138px;
  display: flex;
  flex-direction: column;
}

.lets-friend :nth-child(2) {
  margin-top: 10px;
}

.lets-friend-footer {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0px;
}

.sotial-list {
  list-style: none;
}

.sotialset {
  display: flex;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-gray);
  border: none;
}

li.sotialset {
  margin-right: 0px;
  margin-left: 9px;
}

.sotial-ikon-vk {
  padding-left: 27px;
  padding-top: 35px;
  padding-right: 28px;
  padding-bottom: 33px;
}

.sotial-ikon-fb {
  padding-left: 35px;
  padding-top: 31px;
  padding-right: 34px;
  padding-bottom: 28px;
}

.sotial-ikon-insta {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.sotialset:hover {
  background-color: var(--active-red);
}

.sotialset:active {
  background-color: var(--push-red);
}

.sotial-ikon-vk:active {
  opacity: 0.3;
}

.sotial-ikon-fb:active {
  opacity: 0.3;
}

.sotial-ikon-insta:active {
  opacity: 0.3;
}

.shablon-nbr-page {
  list-style: none;
}

.shablon-nbr-page-btn {
  font-size: 16px;
  width: 50px;
  height: 50px;
  background-color: var(--basic-header);
  border-radius: 3px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr ;
  margin-top: 36px;
  width: 1157px;
}

.sotial-list {
  display: flex;
  justify-content: start;
  margin-left: 91px;
  margin-top: 21px;
}

.sotialset {
  margin: 10px;
}

.btn-title-form {
   width: 260px;
  height: 50px;
  text-transform: uppercase;
  background-color: var(--basic-header);
  border: none;
  border-radius: 3px;
}

.btn-title-form:hover {
  background-color: var(--active-buton);
}

.btn-title-form:active {
  background-color: var(--push-buton);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.under-header-catalog {
  background-color: var(--basic-header);
  display: flex;
  justify-content: start;
  margin: 0px;
  height: 210px;
  align-items: center;
  width: 1440px;
  padding-left: 348px;
  padding-bottom: 30px;
}

.projects {
display: flex;
width: 1440px;
flex-wrap: wrap;
margin-left: 100px;
}

.project-form {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  height: auto;
  vertical-align: auto;
  flex-direction: column;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  width: 860px;
  margin-left: 140px;
}

/*.Шаблоны каталог*/

.shablons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  justify-content: space-between;
  margin-top: 35px;
}

.shablons  article {
  background-repeat: no-repeat;
  width: 360px;
  height: 620px;
  background-color: #f2f2f2;
  background-image: url(../img/shablon_head_opacity.png);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 0px;
  padding-top: 38px;
  z-index: 1;
}

.shablons li {
  margin-top: 31px;
}

.shablons article:hover {
  background-image: url(../img/shablon_head.png);
  background-repeat: no-repeat;
  z-index: 2;
}

/*Шаблоны каталог.*/

/*.форма обратной связи*/

.write-to-us {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 528px;
  justify-content: flex-start;
  margin-left: 240px;
  padding-top: 63px;
  background-color: #fff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

form h2 {
  position: absolute;
  margin-top: 5px;
  margin-left: 100px;
}

.write-to-us-btn {
  display: flex;
  position: absolute;
  width: 259px;
  height: 50px;
  border-radius: 3px;
  border: none;
  color: var(--basic-main);
  text-transform: uppercase;
  margin-top: 175px;
  text-align: center;
  padding-left: 83px;
}

#yourname {
  display: flex;
  width: 360px;
  height: 50px;
  border: 2px solid #D7DCDE;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 13px;
  padding-top: 2px;
}

#yourname:hover {
  border: 2px solid #b4b9bb;
}

#youremail {
  display: flex;
  width: 360px;
  height: 50px;
  border: 2px solid #D7DCDE;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 13px;
  padding-top: 4px;
}

#youremail:hover {
  border: 2px solid #b4b9bb;
}

#youremail:invalid {
  border: 2px solid var(--active-red);
  color: var(--active-red);
}

#yourmail {
  display: flex;
  position: absolute;
  width: 754px;
  height: 99px;
  border: 2px solid #D7DCDE;
  align-content: flex-start;
  margin-top: 9px;
  border-radius: 3px;
}

#yourmail:hover {
  border: 2px solid #b4b9bb;
}

.write-to-us textarea {
  padding-top: 14px;
  padding-left: 14px;
}

div.write-to-us-name {
  width: 360px;
  margin-top: 91px;
  margin-left: 100px;
}

div.write-to-us-email {
  width: 360px;
  margin-top: 91px;
  margin-left: 40px;
}

.write-to-us-mail {
  margin-left: 100px;
  position: absolute;
  margin-top: 202px;
}

.form-btn-close {
  list-style: none;
  position: absolute;
  background-image: url(../img/close-cross.svg);
  opacity: 0.3;
  background-color: #fff;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  margin-top: 16px;
  margin-left: 849px;
  border: none;
}

.form-btn-close:hover {
  background-image: url(../img/close-cross.svg);
  opacity: 1;
}

.form-btn-close:active {
  background-image: url(../img/close-cross.svg);
  opacity: 0.1;
  border: none;
}

/*форма обратной связи.*/
