:root {
  --basic-header: #eee;
  --basic-main: #fff;
  --basic-black: #000;
  --basic-gray: #A6A6A6;
  --basic-red: #FB565A;
  --active-red: #E74246;
  --push-red: #D7373B;
  --basic-green : #00CA74;
  --active-green: #00BC6C;
  --push-green: #00AA62;
  --basic-yellow: #EFC84A;
  --active-yellow: #EAB534;
  --push-yellow: #E5A722;
  --basic-social: #e1e1e1;
  --active-buton: #DFDFDF;
  --push-buton: #D5D5D5;
  --text-write-to-us: #666;
  --text-features: #283136;
}

body {
  margin: 0px;
  min-width:  1440px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
}

main {
  margin: 0px auto;
}

section {
  margin: auto;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  line-height: 55px;
}

h2 {
  font-size: 45px;
  line-height: 45px;
}

h3 {
  font-weight: bold;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-header {
  margin-top: 58px;
  position: relative;
  margin-left: 118px;
  z-index: 1;
}

header {
  background-color: var(--basic-header);
  background-size: 100vw;
  font-size: 16px;
  color: black;
  display: grid;
  height: 115px;
  grid-template-columns: min-content 1fr  min-content;
  align-items: flex-end;
  width: 1440px;
  margin: 0px auto;
}

.header-all {
  background-color: var(--basic-header);
  position: absolute;
  width: -webkit-fill-available;
  height: 115px;
  z-index: 1;
}

.header-list {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
}

.logo {
  display: flex;
  margin-left: 140px;
  margin-top: 29px;
  margin-bottom: 6px;
  z-index: 1;
}

 .header {
  list-style: none;
  display: flex;
  margin-bottom: 13px;
}

.header-list:hover {
  color: red;
}

.header-list:active {
  color: var(--basic-gray);
}

.logo img:active {
  opacity: 0.3;
}

 .active {
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color:red;
  padding-bottom: 20px;
}

.basket-header {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-left: 262px;
  margin-top: 75px;
  padding-bottom: 14px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position-x: 247px;
  background-position-y: 7px;
  z-index: 1;
}

.header-list {
  margin-left: 45px;
}

.header-list-basket {
  margin-left: 25px;
  margin-right: 143px;
}

.under-header {
  background-color: var(--basic-header);
  background-size: 100vw;
  margin: 0 auto;
  position: relative;
  margin-top: -23px;
}

.under-header ul {
  margin-top: 0px;
  list-style: none;
  padding-left: 0px;
}

.under-header-list-1 {
  background-image: url(../img/nerds-index-slide1.png);
  background-position-y: top;
  margin: auto;
  background-repeat: no-repeat;
  background-position-x: 395px;
  padding-bottom: 80px;
}

.under-header-list-1 h1 {
  padding-top: 78px;
  margin-top: 0px;
}

.under-header-list-2 {
  background-image: url(../img/nerds-index-slide2.png);
  background-position-y: top;
  margin: auto;
  background-repeat: no-repeat;
  background-position-x: 395px;
  padding-bottom: 80px;
}

.under-header-list-2 h1 {
  padding-top: 78px;
  margin-top: 0px;
}

.under-header-list-3 {
  background-image: url(../img/nerds-index-slide3.png);
  background-position-y: top;
  margin: auto;
  background-repeat: no-repeat;
  background-position-x: 395px;
  padding-bottom: 80px;
}

.under-header-list-3 h1 {
  padding-top: 78px;
  margin-top: 0px;
}

.slide-selector li {
  display: none;
}

input[id="slide-1"]:checked ~ ul .under-header-list-1 {
  display: block;
}
input[id="slide-2"]:checked ~ ul .under-header-list-2 {
  display: block;
}
input[id="slide-3"]:checked ~ ul .under-header-list-3 {
  display: block;
}

.slide-selector {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

#slide-2 {
  margin-left: 20px;
}

#slide-3 {
  margin-left: 40px;
}

.slide-selector input {
  position: absolute;
}

.slide-selector:first-of-type[label] {
  margin-left: 526px;
  margin-top: 336px;
}

.slide-label-check {
  display: block;
  margin-bottom: 0.25em;
  padding-left: 2em;
  margin-bottom: 22px;
}

.visually-hidden-slide {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slide-filter {
  position: absolute;
  width: 2em;
  height: 2em;
  background-image: url(../img/index-slide-no-check.png);
  background-repeat: no-repeat;
}

input[id=slide-1]:checked ~ label .slide-1-position {
  background-image: url(../img/index-slide-check.png);
}

input[id=slide-2]:checked ~ label .slide-2-position {
  background-image: url(../img/index-slide-check.png);
}

input[id=slide-3]:checked ~ label .slide-3-position {
  background-image: url(../img/index-slide-check.png);
}
.slide-1-position {
  margin-top: 317px;
  margin-left: 505px;
}

.slide-2-position {
  margin-top: 317px;
  margin-left: 539px;
}

.slide-3-position {
  margin-top: 317px;
  margin-left: 574px;
}

.under-header-position {
  margin: 0 auto;
}

.under-header h1 {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.under-header p {
  display: flex;
  font-size: 16px;
  line-height: 25px;
  color: var(--text-features);
  margin-bottom: 37px;
}

.under-header button {
  width: 240px;
  height: 50px;
  border-radius: 3px;
  border: none;
  background-color: var(--basic-red);
  color: var(--basic-main);
  text-transform: uppercase;
}

.under-header-btn {
  padding-top: 3px;
}

.under-header button:hover {
  background-color: var(--active-red);
}

.under-header button:active {
  background-color: var(--push-red);
  color: rgba(255, 255, 255, 0.3);
}

.features {
  width: 1440px;
  margin: 0px auto;
}

.features-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 21px;
  margin-bottom: 16px;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: start;
  padding: 0px;
}

.features-list {
  margin-left: 40px;
}

.features-list li {
  margin-top: 64px;
  margin-left: 100px;
}

.features-list p {
  width: 260px;
  color: var(--text-features);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 33px;
}

.btn-order {
  width: 160px;
  height: 50px;
  border-radius: 3px;
  border: none;
  color: var(--basic-main);
  text-transform: uppercase;
}

.btn-sites {
  background-color: var(--basic-red);
}

.btn-sites:hover {
  background-color: var(--active-red);
}
.btn-sites:active {
  background-color: var(--push-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.btn-apps {
  background-color: var(--basic-green);
}

.btn-apps:hover {
  background-color: var(--active-green);
}

.btn-apps:active {
  background-color: var(--push-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.btn-ppoint {
  background-color: var(--basic-yellow);
}

.btn-ppoint:hover {
  background-color: var(--active-yellow);
}

.btn-ppoint:active {
  background-color: var(--push-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.about-us {
  border-top: 2px solid #eee;
  padding-top: 34px;
  display: flex;
  width: 1157px;
  margin: auto;
  margin-top: 80px;
  padding-left: -2px;
}

.about-us ul {
  list-style: none;
  padding-left: 0px;
}

.about-us li {
  background-image: url(../img/Red_line.png);
  background-repeat: no-repeat;
  background-position-y: 11px;
  padding-left: 35px;
  padding-bottom: 24px;
}

.about-us h2 {
  width: 670px;
  margin-bottom: 34px;
}

.about-us:nth-child(1) {
  width: 651px;
}

.about-us img {
  margin-left: 128px;
  margin-top: 3px;
}

.about-us-p {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 38px;
  margin-left: 145px;
  margin-bottom: 0px;
  height: 20px;
}

.about-us h3 {
  margin-top: 44px;
  margin-bottom: 26px;
}

.std-text-bold {
  text-transform: uppercase;
}

.light-black-text {
  color: var(--text-features);
  width: 670px;
  font-size: 16px;
  line-height: 24px;
}

.about-us-table {
  width: 374px;
  height: 112px;
  text-align: left;
  margin-left: 126px;
  margin-top: 30px;
}

.percent {
  font-size: 45px;
 }

.percent th {
  padding-bottom: 15px;
}

.percent :nth-child(2) {
  padding-left: 6px;
  padding-right: 18px;
}

.percent-sup {
  height: 40px;
  font-style: normal;
  font-size: 26px;
  line-height: 40px;
  vertical-align: super;
}

.under-percent {
  font-size: 16px;
  line-height: 18px;
}

.under-percent :nth-child(2) {
  padding-left: 6px;
}

th.under-percent {
  align-items: center;
  text-align: left;
  padding-top: 14px;
  padding-left: 3px;
  margin-left: 25px;
  width: 100%;
}

/*.Блок с логотипами*/

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1089px;
  margin-left: 172px;
  margin: auto;
  border-top:  2px solid #eee ;
  border-bottom: 2px solid #eee;
  margin-bottom: 50px;
  margin-top: 33px;
  padding-top: 51px;
  padding-left: 30px;
  padding-right: 40px;
  padding-bottom: 35px;
}

.logos-list {
  position: relative;
  top: 50%;
  list-style: none;
  transform: translateY(-50%);
}

.logos li:not(:last-child)::after {
  position: absolute;
  margin-left: 50px;
  margin-right: 0px;
  list-style: none;
  content: "";
  width: 2px;
  height: 52px;
  background: #eee;
}

.logos-list:nth-child(2) {
  margin-right: 10px;
}

.logos-list:nth-child(3) {
  margin-right: 25px;
}

.logos-list img{
  opacity: 0.2;
}

.logos-list img:hover {
  opacity: 1;
}

.logos-list img:active {
  opacity: 0.1;
}

/*Блок с логотипами.*/

fieldset {
  border: none;
}

.title-form {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 56px;
}

.title-form-label-check {
  display: block;
  margin-bottom: 0.25em;
  padding-left: 2em;
  margin-bottom: 22px;
}

.radio-filter{
  position: absolute;
  width: 2em;
  height: 2em;
  margin-left: -2.5em;
  background-image: url(../img/radio-off.svg);
  opacity: 0.4;
  color: #283136;
  background-repeat: no-repeat;
}

.radio-filter:hover {
  opacity: 1;
}

.visually-hidden:checked + .radio-filter {
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
}

 .title-form-cost {
  margin-left: 42px;
  margin-top: 60px;
  display: flex;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

 .title-form-radio {
   list-style: none;
   margin-bottom: 56px;
}

.title-form-radio li{
  margin-bottom: 23px;
}

.filter-option{
  list-style: none;
}

.visually-hidden {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fieldset-radio {
  margin-top: 56px;
  margin-left: 29px;
  margin-bottom: 0px;
  height: 188px;
  padding-bottom: 0px;
}

.fieldset-checkbox {
  margin-left: 37px;
}

.fieldset-checkbox legend {
  margin-left: -7px;
  margin-bottom: 12px;
}

.btn-checkbox-radio {
  margin-left: -9px;
  margin-top: 32px;
}

.checkbox-filter {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  margin-left: -2.5em;
  background-image: url(../img/checkbox-off.svg);
  opacity: 0.4;
  color: #283136;
  background-repeat: no-repeat;
}

.checkbox-filter:hover,
.title-form-label-check:hover {
  opacity: 1;
}

.visually-hidden:checked + .checkbox-filter {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.list-features {
  list-style: none;
  width: 583px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  margin-top: 63px;
}

.list-features li a {
  opacity: 0.3;
}

.list-features li a:hover {
  opacity: 0.6;
}

.list-features li a:active {
  opacity: 1;
}

.list-features li:not(:last-child) {
  margin-right: 25px;
}

.list-features li:nth-child(4) {
  margin-left: 24px;
  margin-right: 16px;
}

.std-text-bold {
  font-weight: bold;
}

/*Карта проезда*/

.map-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-write-to-us);
  margin-top: 102px;
  margin-left: 50px;
  font-weight: 400;
  width: 210px;
}

 .map-text-phone {
   position: absolute;
   margin-top: 2px;
   margin-left: 50px;
   font-weight: 400;
   color: #666;
}

.map {
  margin-top: 80px;
  background-color: #A6A6A6;
  background:
  url(../img/map-marker_1.png) no-repeat 822px 86px,
  url(../img/map-1.jpg) no-repeat;
  height: 416px;
}

iframe {
  width: -webkit-fill-available;
  height: 416px;
  background-repeat: no-repeat;
}

.map-info {
  background-color: var(--basic-main);
  width: 319px;
  position: absolute;
  margin-left: 140px;
  margin-top: 54px;
  margin-bottom: 54px;
  font-weight: bold;
  padding-bottom: 46px;
}

.map-info-heading {
  position: absolute;
  margin-top: 54px;
  margin-left: 50px;
  font-size: 18px;
}

.map-btn {
  width: 219px;
  height: 50px;
  border-radius: 3px;
  border: none;
  color: var(--basic-main);
  text-transform: uppercase;
  margin-top: 58px;
  margin-left: 50px;
}

.map-info-position {
  margin: 0 auto;
  width: 1440px;
}

/*Карта проезда.*/

.lets-friend {
  margin-top: 36px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}

.lets-friend :nth-child(2) {
  margin-top: 7px;
}

.lets-friend-footer {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0px;
}

.sotial-list {
  list-style: none;
}

.sotialset {
  display: flex;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-gray);
  border: none;
}

li.sotialset {
  margin-right: 0px;
  margin-left: 9px;
}

.sotial-ikon-vk {
  padding-left: 27px;
  padding-top: 35px;
  padding-right: 28px;
  padding-bottom: 33px;
}

.sotial-ikon-fb {
  padding-left: 35px;
  padding-top: 31px;
  padding-right: 34px;
  padding-bottom: 28px;
}

.sotial-ikon-insta {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.sotialset:hover {
  background-color: var(--active-red);
}

.sotialset:active {
  background-color: var(--push-red);
}

.sotial-ikon-vk:active {
  opacity: 0.3;
}

.sotial-ikon-fb:active {
  opacity: 0.3;
}

.sotial-ikon-insta:active {
  opacity: 0.3;
}

.shablon-nbr-page {
  list-style: none;
  display: flex;
  margin-top: 39px;
  margin-left: 1px;
  margin-bottom: -20px;
}

.shablon-nbr-page-btn {
  font-size: 16px;
  width: 50px;
  height: 50px;
  background-color: var(--basic-header);
  border-radius: 3px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr ;
  margin: auto;
  width: 1440px;
}

.sotial-list {
  display: flex;
  justify-content: start;
  margin-left: 91px;
  margin-top: 58px;
}

.sotialset {
  margin: 10px;
}

.btn-title-form-number-page-next,
.btn-title-form {
  width: 260px;
  height: 50px;
  text-transform: uppercase;
  background-color: var(--basic-header);
  border: none;
  border-radius: 3px;
  color: var(--basic-black);
}

.active-btn-catalog-page {
  width: 44px;
  height: 44px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-right: 11px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn-title-form:active,
.btn-title-form-number-page-next:hover {
  background-color: var(--active-buton);
}

.btn-title-form:active,
.btn-title-form-number-page-next:active {
  background-color: var(--push-buton);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.btn-title-form-number-page {
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  background-color: var(--basic-header);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-right: 11px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
}

.btn-title-form-number-page-next {
  width: 260px;
  height: 50px;
  text-transform: uppercase;
  background-color: var(--basic-header);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-right: 11px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
}

.btn-title-form-number-page:hover {
  background-color: var(--active-buton);
}

.btn-title-form:hover {
  background-color: var(--active-buton);
}

.btn-title-form-number-page:active {
  background-color: var(--push-buton);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.under-header-catalog {
  background-color: var(--basic-header);
  display: flex;
  justify-content: center;
  margin: 0px auto;
  height: 210px;
  align-items: center;
  padding-bottom: 30px;
}

.under-header-catalog-position {
  margin-left: 10px;
  padding-left: 10px;
}

.projects {
display: flex;
width: 1440px;
flex-wrap: wrap;
margin-left: 100px;
margin: auto;
}

.project-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 260px;
  height: auto;
  margin-left: 99px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  width: 860px;
  margin-left: 140px;
}

.filter-item {
  margin-top: 58px;
  margin-left: 40px;
  padding: 0;
  border: none;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-filter {
  margin-top: 51px;
}

.range-controls {
  width: 222px;
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  width: 262px;
}


.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 50px;
  padding: 10px;
  padding-left: 20px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.max-price input {
  width: 68px;
  padding-right: 0px;
  padding-left: 11px;
}

/*.Шаблоны каталог*/

.shablons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  justify-content: space-between;
  margin-top: 5px;
}

.shablons  li {
  background-repeat: no-repeat;
  width: 359px;
  height: 620px;
  background-color: #f2f2f2;
  background-image: url(../img/shablon_head_opacity.png);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 38px;
  z-index: 1;
}

.shablons li {
  margin-top: 30px;
}

.shablons li:hover {
  background-image: url(../img/shablon_head.png);
  background-repeat: no-repeat;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.shablons li:focus-within {
  background-image: url(../img/shablon_head.png);
  background-repeat: no-repeat;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border: none;
}

.shablons-popup {
  position: absolute;
  background-color: var(--basic-header);
  background-position: bottom;
  width: 358px;
  height: 217px;
  opacity: 0;
  border-radius: 3px;
  margin-top: 348px;
  padding-top: 15px;
}

.shablons-popup h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  text-transform: uppercase;
}

.shablons-popup p {
  text-align: center;
  width: 255px;
  padding-left: 30px;
  padding-right: 20px;
  margin-left: 20px;

}

.shablons-popup input {
  margin-top: 16px;
  margin-left: 80px;
  width: 200px;
  padding-left: 72px;
  padding-top: 7;
}

.shablons-popup:hover {
  opacity: 1;
}

.shablons a:hover > .shablons-popup {
  opacity: 1;
}

.shablons a:active > .shablons-popup {
  opacity: 1;
}

.shablons li:hover > .shablons-popup {
  opacity: 1;
}

/*Шаблоны каталог.*/

/*.форма обратной связи*/

.write-to-us {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 528px;
  justify-content: flex-start;
  margin-left: 240px;
  padding-top: 63px;
  background-color: #fff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  margin: auto;
  display: none;
}

form h2 {
  position: absolute;
  margin-top: 5px;
  margin-left: 100px;
}

.write-to-us-btn {
  display: flex;
  position: absolute;
  width: 259px;
  height: 50px;
  border-radius: 3px;
  border: none;
  color: var(--basic-main);
  text-transform: uppercase;
  margin-top: 395px;
  margin-left: 101px;
  text-align: center;
  padding-left: 83px;
}

#yourname {
  display: flex;
  width: 360px;
  height: 50px;
  border: 2px solid #D7DCDE;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 13px;
  padding-top: 2px;
}

#yourname:hover {
  border: 2px solid #b4b9bb;
}

#youremail {
  display: flex;
  width: 360px;
  height: 50px;
  border: 2px solid #D7DCDE;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 13px;
  padding-top: 4px;
}

#youremail:hover {
  border: 2px solid #b4b9bb;
}

#youremail:invalid {
  border: 2px solid var(--active-red);
  color: var(--active-red);
}

#yourmail {
  display: flex;
  position: absolute;
  width: 754px;
  height: 99px;
  border: 2px solid #D7DCDE;
  align-content: flex-start;
  margin-top: 9px;
  border-radius: 3px;
}

#yourmail:hover {
  border: 2px solid #b4b9bb;
}

.write-to-us textarea {
  padding-top: 14px;
  padding-left: 14px;
}

div.write-to-us-name {
  width: 360px;
  margin-top: 91px;
  margin-left: 100px;
}

div.write-to-us-email {
  width: 360px;
  margin-top: 91px;
  margin-left: 40px;
}

.write-to-us-mail {
  margin-left: 100px;
  position: absolute;
  margin-top: 202px;
}

.form-btn-close {
  list-style: none;
  position: absolute;
  background-image: url(../img/close-cross.svg);
  opacity: 0.3;
  background-color: #fff;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  margin-top: 16px;
  margin-left: 849px;
  border: none;
}

.form-btn-close:hover {
  background-image: url(../img/close-cross.svg);
  opacity: 1;
}

.form-btn-close:active {
  background-image: url(../img/close-cross.svg);
  opacity: 0.1;
  border: none;
}

/*форма обратной связи.*/
