:root {
  --basic-header: #eee;
  --basic-main: #fff;
  --basic-black: #000;
  --basic-gray: #A6A6A6;
  --basic-red: #FB565A;
  --active-red: #E74246;
  --push-red: #D7373B;
  --basic-green : #00CA74;
  --active-green: #00BC6C;
  --push-green: #00AA62;
  --basic-yellow: #EFC84A;
  --active-yellow: #EAB534;
  --push-yellow: #E5A722;
  --basic-social: #e1e1e1;
  --active-buton: #DFDFDF;
  --push-buton: #D5D5D5;
}
body{
  min-width:  1460px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
}
h1{
font-size: 55px;

}
h2{
  font-size: 45px;
}
h3{
  font-weight: bold;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: black;
}
header{
  background-color: var(--basic-header);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
  color: black;
  list-style: none;
}
.header{
  list-style: none;
}
.header-list:hover{
  color: red;
}
.header-list:active{
  color: var(--basic-gray);
}
.logo img:active{
  opacity: 0.3;
}
 .active{
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color:red ;
}
.under-header {
  background-color: var(--basic-header);
}
.under-header button {
  width: 240px;
  height: 50px;
  border-radius: 3px;
  border: none;
  background-color: var(--basic-red);
  color: var(--basic-main);
  text-transform: uppercase;
}
.under-header button:hover{
  background-color: var(--active-red);
}
.under-header button:active{
  background-color: var(--push-red);
  color: rgba(255, 255, 255, 0.3);
  }
.features h3{
  font-size: 24px;
  text-transform: uppercase;
   }
.features-list{
  list-style: none;
}
.btn-order{
  width: 160px;
  height: 50px;
  border-radius: 3px;
  border: none;
  color: var(--basic-main);
  text-transform: uppercase;
}
.btn-sites{
  background-color: var(--basic-red);
}
.btn-sites:hover{
  background-color: var(--active-red);
}
.btn-sites:active{
  background-color: var(--push-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.btn-apps{
  background-color: var(--basic-green);
}
.btn-apps:hover{
  background-color: var(--active-green);
}
.btn-apps:active{
  background-color: var(--push-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.btn-ppoint{
  background-color: var(--basic-yellow);
}
.btn-ppoint:hover{
  background-color: var(--active-yellow);
}
.btn-ppoint:active{
  background-color: var(--push-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.percent{
  font-size: 45px;
}
.logos-list{
  list-style: none;
  opacity: 0.2;
}
.logos-list:hover{
  opacity: 1;
}
.logos-list:active{
  opacity: 0.1;
}
.title-form {
  font-size: 18px;
  text-transform: uppercase;
}
.list-features{
  font-size: 14px;
  text-transform: uppercase;
}
.std-text-bold{
  font-weight: bold;
}

.lets-friend-footer{
  font-size: 36px;
  font-weight: bold;
}
.write-to-us {
  display: none;
}
.logo{
  acti
}
.sotial-list{
  list-style: none;
}
.sotialset{
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-gray);
  border: none;
}
.sotial-ikon-vk{
  padding-left: 27px;
  padding-top: 35px;
  padding-right: 28px;
  padding-bottom: 33px;
}
.sotial-ikon-fb{
  padding-left: 35px;
  padding-top: 31px;
  padding-right: 34px;
  padding-bottom: 28px;
}
.sotial-ikon-insta{
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.sotialset:hover{
  background-color: var(--active-red);
}
.sotialset:active{
  background-color: var(--push-red);
  }
.sotial-ikon-vk:active{
  opacity: 0.3;
}
.sotial-ikon-fb:active{
  opacity: 0.3;
}
.sotial-ikon-insta:active{
  opacity: 0.3;
}
footer{

}
.btn-title-form{
  width: 260px;
  height: 50px;
  text-transform: uppercase;
  background-color: var(--basic-header);
  border: none;
  border-radius: 3px;
}
.btn-title-form:hover{
  background-color: var(--active-buton);
}
.btn-title-form:active{
  background-color: var(--push-buton);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.radio .title-form{
  background-image: image;
}
